<div class = "jumbotron center">

    <h1>Welcome! It's a<br> Super Kanban Board App</h1>

    <h3> This is a place to keep track of your tasks and progress. </h3>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

    <%= link_to "Guest Login", sign_in_guest_path, class: "btn btn-lg btn-primary", "data-no-turbolink" => true %>

</div>

