

    <div class = "jumbotron center">
        <h1>Welcome to the Super Kanban Board App</h1>

        <h2>
            This is a holder for a home page.
        </h2>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

    </div>

