<div class='center'>
    <h3> Dearest User: </h3>
    <h4>
        This is a Kanban app meant to help you to keep track of your progress.
    </h4>
    <h4>
        First, create a Kanban.
    </h4>
    <h4>
        Second, create a Task.
    </h4>
    <h4>
        Third, add Milestones to a Task.
    </h4>
    <h4>
        Fourth, use colors to mark the level of Milestone completion per Task.
    </h4>
</div>
