<div class="container container-index2">

    <div class = "jumbotron center">
        <h1>Welcome to the Super Kanban Board App</h1>


        <h4> This is a holder for a home page. </h4>

        <%= link_to "Make a new default Kanban Board!", makekanban_path, class: "btn btn-lg btn-primary" %>

        <br><br>

        <%= link_to "List all current boards", kanbans_path, class: "btn btn-lg btn-primary" %>

        <br><br>

        <%= link_to "List all current orgs", organizations_path, class: "btn btn-lg btn-primary" %>
    </div>

</div>
