<div class = 'container container-index' >
    <h1>List of Kanbans</h1>

        <table id="kanban">
            <tr>
                <th>Title</th>
                <th>Tasks</th>
                <th>Milestones</th>
            </tr>

            <% current_user.kanbans.each do |kanb| %>
            <tr>
                <td><%= link_to kanb.name, kanban_path(kanb), "data-no-turbolink" => true %></td>
                <td><%= kanb.organizations.count %></td>
                <td><%= kanb.kanban_milestones.count %></td>

            </tr>
            <% end %>
        </table>

        <p class = "line" >
            <%= link_to "Add a kanban", makekanban_path %>
        </p>

</div>
