<h1>All users</h1>

<ul class="users">
    <!-- Rails infers that @users is a list of User objects;
    when called with a collection of users, Rails automatically iterates through then
    and renders each with _user.html.erb partial -->
    <%= render @users %>


</ul>
