@import 'bootstrap';

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.dropdown-menu{
    min-width: 0px;
}

ul.dropdown-menu li a:hover{
    color: blue;
    // text-weight: bold;
}

#whitecolored{
    background-color: white;
}

#greycolored{
    background-color: #F8F8F8 ;
}

#redcolored{
    background-color: #FF0000 ;
    height: 100%;
    // background-color: blue;
}

#yelcolored{
    background-color: #FFFF99;
}

#greencolored{
    background-color: #66FF99;
}

.x{
    margin-right: 0px;
}

#testt{
    margin-left: 5px;
}

.extended{
    display: block;
    width:100%;
}

.caret-right {
  // border-right: 0px solid black;
  // border-right: 0;
  border-top: 4px solid transparent;
  // border-bottom: 4px solid transparent;
}
