@import 'bootstrap';

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.dropdown-menu{
    min-width: 100px;
}

ul.dropdown-menu li a:hover{
    color: blue;
    // text-weight: bold;
}

#whitecolored{
    background-color: white;
}

#greycolored{
    background-color: #F8F8F8 ;
}

#redcolored{
    background-color: #FF0000 ;
    height: 100%;
    // background-color: blue;
}

#yelcolored{
    background-color: #FFFF99;
}

#greencolored{
    background-color: #66FF99;
    // text-align:center;
}

.x{
    margin-right: 0px;
}

#testt{
    // margin-left: 5px;
    // text-align:center;
}

.extended{
    display: block;
    width:100%;
}

b.caret-right {
  border-right: 2px solid black;
  // border-right: 0;
  border-top: 4px solid transparent;
  // border-bottom: 4px solid transparent;
}

p.line{
    border-top: 1px solid black;
    margin: 10px;
    width: 100%;
    padding: 4px;
    margin-top: 50px;
}

p.line2{
    margin: 10px;
    width: 100%;
    padding: 4px;
    margin-top: -5px;
}

p.colored{
    text-align:center;
    margin: 0px;
}
