<div class="container">
    <h1>Kanban Organizations</h1>

    <table id="movies">
      <tr>
        <th>Organization</th>
        <th>Summary</th>
        <th> <a href= '/kanbans/new'><span class="glyphicon glyphicon-plus"></span></a></th>

        <% 10.times do |i| %>
           <th> <%= i %> </th>
        <% end %>

      </tr>

    <% @orgs.each do |k| %>
      <tr>
        <td><%= k.name %></td>
        <td><%= k.progress %></td>
      </tr>

    <% end %>

    <td><a href= '/organizations/new'><span class="glyphicon glyphicon-plus"></span></a></td>

    </table>

</div>
