
<div class="container">
    <h2> Enter organization's name: </h2>
        <%= form_for(@org) do |f| %>
            <%= f.text_field :name, value: "Enter name" %>
        <br>
        <br>

        <%= f.submit "Save changes", class: "btn btn-sm btn-primary" %>
        <%= link_to 'Cancel', kanban_path(session[:current_kanban]), class: "btn btn-sm btn-primary" %>

        <% end %>
</div>
