<div class="container container-index">
    <h3> <%=@org.name %> </h3>

    <%= @org.name %>
    <%= @org.content %>

    <p class = "line_edit" >
        <%#= f.submit "Save changes", class: "btn btn-sm btn-primary" %>
        <%= link_to 'Edit', edit_organization_path(@org), class: "btn btn-sm btn-primary" %>
    </p>
</div>
