
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"> color <b class="caret" ></b></a>

    <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu3" >

          <li role="presentation" ><a id='whitecolored' role="menuitem" tabindex="-1" href="#" > White </a></li>
          <li role="presentation"><a id='greycolored' role="menuitem" tabindex="-1" href="#" > Grey </a></li>
          <li role="presentation"><a id='greencolored' role="menuitem" tabindex="-1" href="#" > Green </a></li>
          <li role="presentation"><a id='yelcolored' role="menuitem" tabindex="-1" href="#" > Yellow </a></li>
          <li role="presentation"><a id='redcolored' role="menuitem" tabindex="-1" href="#"> Red </a></li>

    </ul>

