<a href="#" data-toggle="dropdown" class="dropdown-toggle"> color <b class="caret" ></b></a>
<ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu3" >
        <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" > White </a></li>
      <li role="presentation"><a class='greycolored' role="menuitem" tabindex="-1" href="#" > Grey </a></li>
      <li role="presentation"><a class='greencolored' role="menuitem" tabindex="-1" href="#" > Green </a></li>
      <li role="presentation"><a class='yelcolored' role="menuitem" tabindex="-1" href="#" > Yellow </a></li>
      <li role="presentation"><a class='redcolored' role="menuitem" tabindex="-1" href="#" > Red </a></li>

</ul>
