<%= form_for @kanban do |f| %>

        <table id="kanbans" align="center">
            <tr>
                <th> <%= f.label 'New column:' %> </th>
                <td> <%= f.text_field :columnholder %> </td>
            </tr>

        </table>
        <p></p>

        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary" id="save">Save changes</button> -->
            <%= f.submit "Save", class: "btn btn-primary btn-sm active" %>
        </div>

<% end %>






