<div class="container">
    <h1>Default Kanban</h1>

    <table id="movies">

      <tr>
        <th>Your tasks</th>
        <th>Milestone1</th>
        <th> <a href= '/kanbans/new'><span class="glyphicon glyphicon-plus"></span></a></th>
      </tr>



    <td><a href= '/organizations/new'><span class="glyphicon glyphicon-plus"></span></a></td>

    </table>

</div>
