<div class="container">

        <h1>Listing Kanbans</h1>

        <table id="movies" class="table-bordered">
          <tr>
            <th>Title</th>
            <th>Current count of tasks</th>
            <th>Current count of columns</th>
          </tr>

        <% @kanbans.each do |kanb| %>
          <tr>
            <td><%= link_to kanb.name, kanban_path(kanb), "data-no-turbolink" => true %></td>
            <td><%= kanb.organizations.count %></td>
            <td><%= kanb.settings.length %></td>
          </tr>
        <% end %>
        </table>

        <p class = "line" >
            <%= link_to "Back to index", root_path %>
        </p>


</div>
